@import url( <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">);


a {
    color: #111;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
}

header {
    height: 80px;
    background-color: rgb(193, 226, 233);
  }
  header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  header nav {
    width: 50%;
    display: block;
  }
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    width: 100%;
    height: calc(170vh - 80px);
    

    background-image: url('assets/images/vw.png');
    background-repeat: no-repeat;
    background-size: cover;

}

    section.categories 
    
        h2 {
            text-align: center;
            color: rgb(81, 87, 139);
            
        }
    
        .categories-grid {
            height: 80vh;
            background-color: rgb(244, 245, 249);
            margin-top: 30px; 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 80px;
    
         }
         

         p{
            font-family: 'Montserrat', sans-serif;
         }
        
          .contact {
            
            padding: 120px 0px;
            background-image: url('assets/images/background.jpg');
            background-size: cover;
            margin-top: 0px;
            color: rgb(249, 250, 252);
            
        }
        .contact
        a{color: rgb(24, 41, 190);}


       